.App {
  text-align: center;
}

.App-header {
  background-color: #2d75dc6b;
  margin:0;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  width:100%;
  align-content: center;
  color: #ffff;
}

.App-footer{
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: #ffff;
  background-color: rgb(11, 11, 37);
}

